
.markdown-body {
	code,
	tt {
		padding: 0.2em 0;
		margin: 0;
		font-size: 85%;
		background-color: #f9f2f4;
		color:#c7254e;
		border-radius: 4px; 
		
		&::before,
		&::after {
			letter-spacing: -0.2em; 
			content: "\00a0";
		}
	
		br { display: none; }
	}
	
	del code { text-decoration: inherit; }
	
	pre {
		word-wrap: normal;
		> code {
			padding: 0;
			margin: 0;
			font-size: 100%;
			word-break: normal;
			white-space: pre;
			background: transparent;
			border: 0;
		}
	}
	
	.highlight {
		margin-bottom: @markdown-body-margin;
		
		pre {
			margin-bottom: 0;
			word-break: normal;
		}
	}
	
	.highlight pre,
	pre {
		padding: @markdown-body-margin;
		overflow: auto;
		font-size: 85%;
		line-height: 1.45;
		background-color: #f7f7f7;
		border-radius: 3px;
	}
	
	pre code,
	pre tt {
		display: inline;
		max-width: auto;
		padding: 0;
		margin: 0;
		overflow: visible;
		line-height: inherit;
		word-wrap: normal;
		background-color: transparent;
		border: 0;
		
		&::before,
		&::after {
			content: normal;
		}
	}
}
